include _vars
header.container
	.row
		.col-xs-12
			.site-name.col-xs-9
				| #{site.siteName}
			.calender.col-xs-3
				| #{site.nav}
				.col-xs-12
			ul.list-unstyled.hidden
				each val in ['September','October','November']
					li= val 