include _vars
mixin month
	.month-content
		.row
			.col-xs-12
				.month.col-xs-3
					| // Month
				.scorer.col-xs-9
					| // Scorer
		.row
			.col-xs-12
				#video.col.xs-12
		.row
			.col-xs-12
				.stats

+month
+month

			
