include _vars
doctype html
html(lang="en")
	head
		title #{site.site-name}
		link(rel="stylesheet", href="dist/css/styles.css")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		include _header
		section.content.container
			include _months



